@model DataModel
@{
    ViewData["Name"] = "Manage feeds";
}

<div class="container">
    <div class="row pt-4">
        <div class="col text-start">
            <h4><i class="bi bi-sliders2"></i> @ViewData["Name"]</h4>
        </div>
        <div class="col text-end">
            <a class="btn btn-primary" asp-controller="Manage" asp-action="Add"><i class="bi bi-plus-square"></i> Add feed</a>
        </div>
    </div>
    <div class="row pt-4">
        <div class="col">
            <table class="table table-striped align-baseline">
                <tr>
                    <th>Name</th>
                    <th>URL</th>
                    <th>No. of articles</th>
                    <th>Last update</th>
                    <th class="text-end">Controls</th>
                </tr>
                @if (Model.Feeds != null)
                {
                    foreach (Feed m in Model.Feeds)
                    {
                        <tr>
                            <td>@m.Name</td>
                            <td>@m.Url</td>
                            <td>@m.Items.Count()</td>
                            <td>@m.LastUpdatedDateTime</td>
                            <td class="text-end">
                                <div class="btn-group" role="group">
                                    <a class="btn btn-secondary" asp-controller="Manage" asp-action="Info" asp-route-id="@m.Id"><i class="bi bi-info-square"></i></a>
                                    <a class="btn btn-warning" asp-controller="Manage" asp-action="Edit" asp-route-id="@m.Id"><i class="bi bi-pencil-square"></i></a>
                                    <a class="btn btn-danger" asp-controller="Manage" asp-action="Delete" asp-route-id="@m.Id"><i class="bi bi-trash"></i></a>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
</div> <!-- class="container" -->